/* General styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    background-color: #292929;
}

a {
    text-decoration: none;
    color: #fff;
}

ul {
    list-style: none;
}

/* Header styles */
header {
    background-color: #222;
    padding: 10px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    nav ul li {
        margin: 0 10px;
    }

        nav ul li a {
            font-size: 1.2rem;
        }

/* Hero section styles */
.hero {
    background-image: url("https://images.unsplash.com/photo-1551234088-9005c7bca09b?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Z2FtZXJ8ZW58MHx8MHx8&ixlib=rb-1.2.1&w=1000&q=80");
    background-size: cover;
    background-position: center;
    padding: 50px;
    text-align: center;
}

    .hero h1 {
        font-size: 4rem;
        margin-bottom: 20px;
        color: #fff;
        text-shadow: 2px 2px #000;
    }

    .hero p {
        font-size: 1.5rem;
        margin-bottom: 40px;
    }

.button-wrapper {
    display: flex;
    justify-content: center;
}

.invite-button {
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    background-color: #1e2639; /* Change to dark blue */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-shadow: 1px 1px #000;
    box-shadow: 2px 2px #000;
}

    .invite-button:hover {
        background-color: #354c6c; /* Change to darker blue */
    }

/* About section styles */
.about {
    text-align: center;
    background-color: #1a1a1a;
    padding: 50px;
}

    .about h2 {
        font-size: 3rem;
        margin-bottom: 20px;
        color: #fff;
    }

    .about p {
        font-size: 1.2rem;
        line-height: 1.6;
        margin-bottom: 40px;
    }

/* Games section styles */
.games {
    background-color: #2f2f2f;
    padding: 50px;
}

    .games h2 {
        font-size: 3rem;
        margin-bottom: 20px;
        color: #fff;
    }

    .games li {
        font-size: 1.2rem;
        line-height: 1.6;
        margin-bottom: 10px;
        padding: 10px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

        .games li:hover {
            background-color: #5b6f9f;
        }

/* Footer styles */
footer {
    background-color: #222;
    color: #fff;
    padding: 10px;
    text-align: center;
}

    footer p {
        font-size: 1rem;
    }

/* Responsive styles */
@media (max-width: 768px) {
    body {
        font-size: 16px;
    }

    nav ul li {
        margin: 0 5px;
    }

    .hero h1 {
        font-size: 2.5rem;
    }

    .hero p {
        font-size: 1rem;
    }

    .about h2 {
        font-size: 2.5rem;
    }

    .about p {
        font-size: 1rem;
    }

    .games h2 {
        font-size: 2.5rem;
    }

    .games li {
        font-size: 1rem;
    }
}
